{% extends "components/layout.html" %} 
{% block title %}Profile{% endblock %} 

{% block content %}




{% include "components/vertical.html" %}
<div class="container">
    <div class="container">1
    <!-- Contenido del pie de página -->
    <div class="footer-row" style="display: flex;margin: 0;">
        <!-- Contenedor principal -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 footer__main--first" style="font-size: 14px;">
            <div id="block-footerdireccionynotificaciones" class="block block-block-content block-block-contentb0367ada-cdab-48bb-9e75-7ae391181529">
                <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    
                </div>
            </div>
        </div>

       
       

    <!-- Contenedor de Explora -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-18 col-xl-18" style="font-size: 14px;">
            <!-- {% include "components/horizontal.html" %} -->
            {% include "components/horizontal_dos.html" %}
            {% include "components/all_partidos.html" %}
        </div>
    </div>

  </div>
{% endblock %}


