{% block footer %}
<footer>
    <div class="spacer">
        <style>
            .spacer {
                margin-top: 200px;
            }
        </style>
        
    </div> <!-- Div para crear espacio superior -->
    <div class="container">
        <!-- Contenido del pie de página -->
        <div class="footer-row" style="display: flex;">
            <!-- Contenedor principal -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 footer__main--first" style="font-size: 14px;">
                <div id="block-footerdireccionynotificaciones" class="block block-block-content block-block-contentb0367ada-cdab-48bb-9e75-7ae391181529">
                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                        <div class="footer__logo">
                            <a data-seo="btn-footer" href="#">
                                <picture>
                                    <img alt="Logo Uniminuto" class="img-fluid" src="/sites/default/files/logo-uniminuto-footer.png" title="Logo Uniminuto">
                                </picture>
                            </a>
                        </div>
                        <p><span class="title-footer">Notificaciones Judiciales y/o extrajudiciales</span></p>
                        <div class="footer__info">
                            <p>Carrera 73A No. 81B – 70.<br>
                            Edificio Diego Jaramillo - Piso 7<br>
                            Bogotá D.C.<br>
                            El siguiente correo es de uso exclusivo para juzgados, tribunales y altas cortes o requerimientos de autoridades administrativas:<br>
                            <a data-seo="btn-footer" href="mailto:direccion.juridica@uniminuto.edu">direccion.juridica@uniminuto.edu</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contenedor para Información Legal -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3" style="font-size: 14px;">
                <h3>Información Legal</h3>
                <ul style="list-style-type:none; padding-left: 0;">
                    <li><a href="/derechos-pecuniarios">Derechos Pecuniarios</a></li>
                    <li><a href="/documentos-institucionales">Documentos institucionales y normatividad interna general</a></li>
                    <li><a href="/reglamento-estudiantil">Reglamento estudiantil</a></li>
                    <li><a href="/reglamento-profesoral">Reglamento profesoral</a></li>
                    <li><a href="/politica-bienestar">Política de bienestar universitario</a></li>
                    <li><a href="/politica-proteccion-datos">Política de protección de datos</a></li>
                </ul>
            </div>

            <!-- Contenedor de Explora -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3" style="font-size: 14px;">
                <h3>Explora</h3>
                <ul style="list-style-type:none; padding-left: 0;">
                    <li><a href="/calidad-procesos-riesgos">Calidad, procesos y riesgos</a></li>
                    <li><a href="/educacion-desarrollo">Centro de Educación para el Desarrollo</a></li>
                    <li><a href="/formacion-evangelizacion">Centro de Formación para la Nueva Evangelización</a></li>
                    <li><a href="/centro-rafael-garcia-herreros">Centro Rafael García Herreros – Pensamiento Social de la Iglesia</a></li>
                    <li><a href="/publicaciones">Publicaciones</a></li>
                    <li><a href="/trabaja-con-nosotros">Trabaja con nosotros</a></li>
                    <li><a href="/unicorporativa">Unicorporativa</a></li>
                </ul>
            </div>

            <!-- Contenedor para las redes sociales -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3" style="font-size: 14px;">
                <h3>¡CONÉCTATE CON LA INSTITUCIÓN!</h3>
                <img src="/static/imagenes/social-media-2083456_1280.png" alt="Redes sociales" style="width: 200px; height: auto;">
                <p>En Bogotá: 6015933004</p>
                <p>Línea nacional gratuita: 01 8000 11 93 90</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
