{% block lista_all_evaluaciones %}
<style>
    table {
        width: 50%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }
</style>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>arbitro_id</th>
            <th>partido_id</th>
            <th>Visualizar</th>
            
        </tr>
    </thead>
    <tbody>
        {% if evaluaciones %}
            {% for evaluacion in evaluaciones %}
                <tr>
                    <td>{{ evaluacion.ID }}</td>
                    <td>{{ evaluacion.arbitro_id }}</td>
                    <td>{{ evaluacion.partido_id }}</td>
                    <td><a href="/users/me/evaluaciones/{{ evaluacion.ID }}">Visualizar</a></td>

                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>




{% endblock %}




