{%block mi_data %}

<div class="row m-sm-5 m-3">
  <h1 class="col">bienvenido</h1>
</div>

<div class="row m-sm-5 m-3">
  <div class="card col-5">
    <div class="card-body">
      <h5 class="card-title">Hi {{ current_user.username }}</h5>
      <p class="card-text">This is a list with your data.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Firstname: {{ current_user.nombre }}</li>
      <li class="list-group-item">Lastname: {{ current_user.apellido }}</li>
      <li class="list-group-item">Email: {{ current_user.email }}</li>
      <!-- Add more fields as needed -->
    </ul>
  </div>
</div>


{% endblock %}
