
{% block registro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registro</title>
    <link rel="stylesheet" href="{{ url_for('static', path='estilos.css') }}">
    <!-- <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> -->
</head>
<body>
    <!-- Contenido del cuerpo del documento -->
    <div class="row m-md-5 m-3">
      <h1 class="col">Registro</h1>
    </div>
    
    
    <form method="post" action="/usuarios/registro" class="row g-3 mx-sm-5 mx-2">
    <!-- <form method="post" class="row g-3 mx-sm-5 mx-2"> -->
    
      
    
      
    
    
    <!-- tenemos la entrada del username  -->
      <div class="col-md-4">
        <label for="validationDefaultUsername" class="form-label">Username</label>
        <div class="input-group">
          <!-- <span class="input-group-text" id="inputGroupPrepend2">@</span> -->
          <input
            name="username"
            type="text"
            class="form-control"
            id="validationDefaultUsername"
            aria-describedby="inputGroupPrepend2"
            required
          />
      
        </div>
      </div>
    
    <!-- tenemos la entrada del nombre   name="firstname"   -->
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label"> nombres </label>
        <input name="nombre" type="text" class="form-control" id="validationDefault01" required />
      </div>
      
    <!-- tenemos la entrada del apellido -->
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">apellidos</label>
        <input name="apellido" type="text" class="form-control" id="validationDefault02" required />
      </div>
      
    <!-- tenemos la entrada del celular -->
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">celular</label>
        <input name="celular" type="number" class="form-control" id="validationDefault02" required />
      </div>
    <!-- tenemos la entrada del edad -->
          <div class="col-md-4">
            <label for="validationDefault02" class="form-label">edad</label>
            <input name="edad" type="number" class="form-control" id="validationDefault02" required />
          </div>
    <!-- tenemos la entrada del  cedula-->
          <div class="col-md-4">
            <label for="validationDefault02" class="form-label">cedula</label>
            <input name="cedula" type="number" class="form-control" id="validationDefault02" required />
          </div>
    
    <!-- tenemos la entrada del  genero-->
          <div class="col-md-3">
            <label for="validationDefault04" class="form-label">genero</label>
            <select name="genero" class="form-select" id="validationDefault04" required>
              <option selected disabled value="">Choose...</option>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
              
            </select>
          </div> 
    
    
    
    <!-- tenemos la entrada del email -->
          <div class="col-md-4">
            <label for="validationDefault02" class="form-label">email</label>
            <input name="email" type="text" class="form-control" id="validationDefault02" required />
         </div>
    
    <!-- aqui tenemos el campo de contraseña -->
                      <div class="col-md-3">
                        <label for="validationDefault05" class="form-label">Password</label>
                        <input
                          name="passwd"
                          type="password"
                          class="form-control"
                          id="validationDefault05"
                          required
                        />
                      </div>
      
    
      <div class="col-md-3">
        <label for="validationDefault04" class="form-label">Categoria</label>
        <select name="tipo" class="form-select" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option value="Jugadores">Jugador</option>
          <option value="Evaluadores">Evaluador</option>
          <option value="Arbitros">Arbitro</option>
        </select>
      </div> 
    
    
    <!-- aqui tenemos al boton submit      -->
      <div class="col-12">
        <button class="btn btn-primary" type="submit" >aceptar</button>
      </div>
    </form>
  
  


</body>
</html>

{% endblock %}