{% block section %}
<section id="testimonials" class="sliderTestimonials">
    <div class="spacer">
        <style>
            .spacer {
                margin-top: 130px;
            }
        </style>
        
    </div> <!-- Div para crear espacio superior -->
    <div class="container">
        <div class="content">
            <div class="c-content">
                <div class="sliderTestimonials__content">
                    <div class="c-header">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <!-- Aquí puedes agregar cualquier encabezado si es necesario -->
                            </div>
                        </div>
                    </div>
                    <div class="s-sliderTestimonials owl-carousel owl-theme owlNav--blue2 owlDots--blue1 owl-loaded owl-drag">
                        <div class="owl-item">
                            <div class="views-row">
                                <div class="views-field views-field-nothing">
                                    <span class="field-content">
                                        <article>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 s-sliderTestimonials__img">
                                                    <div class="item__icon">
                                                        <i class="demo-icon icon-icon-quote"></i>
                                                    </div>
                                                    <div class="item__img">
                                                        <img src="/static/imagenes/mico.png" class="img-fluid" alt="Testimonio" title="Testimonio">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 s-sliderTestimonials__text">
                                                    <div class="testimonial-info">
                                                        <h2>Testimonio</h2>
                                                        <h2 class="testimonial-name">Daniel Almanza</h2>
                                                        <p class="testimonial-title"></p>
                                                    </div>
                                                    "Gracias a la academia de arbitraje, he logrado desarrollar mis habilidades como brabucon y encontrar un empleo que me apasiona. Recomiendo totalmente esta institución."</p>
                                                </div>
                                            </div>
                                        </article>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer-bottom">
        <style>
            .spacer-bottom {
                margin-bottom: 100px;
            }
        </style>
    </div> <!-- Div para crear espacio inferior -->
</section>
{% endblock %}


